:root {
    --p-color: rgb(125, 125, 125);
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --border: solid rgb(221, 221, 221) 1px;
    --main-transition: 0.3s;
    --background-color: #eeeeee;
}

input:focus,
textarea:focus {
    outline: none;
}

textarea {
    resize: none;
}

article {
    background-color: white;
}

.welcome {
    position: relative;
}

.welcome .gray {
    background-color: var(--background-color);
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    height: 150px;
}

.welcome h2 {
    text-transform: capitalize;
    padding: 0 0 10px;
}

.welcome .gray p {
    text-transform: capitalize;
    color: var(--p-color);
}

.welcome .gray img {
    width: 200px;
}

.welcome>img {
    width: 60px;
    border: solid 3px white;
    position: absolute;
    border-radius: 50%;
    left: 20px;
    z-index: 2;
    top: 118px;
}

@media (max-width: 767px) {
    .welcome .gray img {
        display: none;
    }

    .welcome>img {
        left: 50%;
        transform: translateX(-50%);
    }
}

@media (min-width: 768px) {
    .welcome .info {
        display: flex;
    }

    .welcome .info>div {
        flex: 1;
    }
}

.welcome .info {
    border-top: var(--border);
    border-bottom: var(--border);
    margin: 50px 0 20px;
    padding: 20px 0;

}

.welcome .info>div {
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
}

.welcome .info>div p {
    padding: 10px 0 0;
    font-size: 15px;
    font-weight: 600;
}

.welcome .info>div p:nth-child(2) {
    color: var(--p-color);
}

.welcome .profile {
    padding: 0 20px 20px;
}

.welcome .profile p {
    text-transform: capitalize;
    margin-left: auto;
    width: fit-content;
    background-color: var(--blue-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* start draft */
article h2 {
    text-transform: capitalize;
    padding: 0 0 10px;
}

article>p {
    text-transform: capitalize;
    color: var(--p-color);
}

.draft form {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

.draft form input,
.draft form textarea {
    padding: 5px 10px;
    font-size: 14px;
    background-color: #eeeeee;
    border: var(--border);
    border-radius: 5px;
    margin-bottom: 10px;
}

.draft form textarea {
    margin-bottom: 0;
    height: 150px;
}

.draft .save {
    padding: 0 20px 20px;
}

.draft .save p {
    text-transform: capitalize;
    margin-left: auto;
    width: fit-content;
    background-color: var(--blue-color);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

/* start targets */
.targets>div {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.targets>div i {
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.targets>.money i {
    color: var(--blue-color);
    background-color: #0d6ad565;
}

.targets>.projects i {
    color: var(--orange-color);
    background-color: #f59f0b62;
}

.targets>.team i {
    color: var(--green-color);
    background-color: #22c55e60;
}

.targets>div .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.targets>div .text p:nth-child(1) {
    text-transform: capitalize;
    color: var(--p-color);
    font-size: 14px;
    /* padding: 10px 0; */
}

.targets>div .text p:nth-child(2) {
    font-weight: 700;
}

.targets>div .text>div {
    width: 100%;
    height: 5px;
    position: relative;
}

.targets>div .text>div::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: solid transparent 5px;
    top: -10px;
}

.targets>.money .text>div::before {
    left: 79%;
    border-top-color: var(--blue-color);
}

.targets>.projects .text>div::before {
    left: 54%;
    border-top-color: var(--orange-color);
}

.targets>.team .text>div::before {
    left: 74%;
    border-top-color: var(--green-color);
}

.targets>div .text>div::after {
    position: absolute;
    width: fit-content;
    top: -25px;
    color: white;
    font-size: 11px;
    padding: 2px 4px;
    border-radius: 3px;
}

.targets>.money .text>div::after {
    content: "%80";
    background-color: var(--blue-color);
    left: 77%;
}

.targets>.projects .text>div::after {
    content: "%55";
    background-color: var(--orange-color);
    left: 52%;
}

.targets>.team .text>div::after {
    content: "%75";
    background-color: var(--green-color);
    left: 72%;
}

.targets>.money .text>div {
    background-color: #0d6ad565;
}

.targets>.projects .text>div {
    background-color: #f59f0b62;
}

.targets>.team .text>div {
    background-color: #22c55e60;
}

.targets>.money .text>div span {
    background-color: var(--blue-color);
    position: absolute;
    height: 100%;
    width: 80%;
}

.targets>.projects .text>div span {
    background-color: var(--orange-color);
    position: absolute;
    height: 100%;
    width: 55%;
}

.targets>.team .text>div span {
    background-color: var(--green-color);
    position: absolute;
    height: 100%;
    width: 75%;
}

/* start tickets */
.statistics .tickets {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

@media (max-width: 400px) {
    .statistics .tickets {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }
}

.statistics .tickets>div {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border: var(--border);
}

.statistics .tickets .total i {
    color: var(--orange-color);
}

.statistics .tickets .pending i {
    color: var(--blue-color);
}

.statistics .tickets .closed i {
    color: var(--green-color);
}

.statistics .tickets .deleted i {
    color: var(--red-color);
}

.statistics .tickets>div p:nth-child(2) {
    font-size: 25px;
    font-weight: 600;
}

.statistics .tickets>div p:nth-child(3) {
    color: var(--p-color);
    text-transform: capitalize;
    font-size: 14px;
}

/* start news */
.news>div>div {
    padding: 10px 0;
    display: flex;
}

@media (max-width: 767px) {

    .news>div>div,
    .news>div>div .text {
        flex-direction: column;
    }

    .news>div>div .text>p {
        margin-top: 15px;
    }

    .news>div>div img {
        width: 100%;
        margin-bottom: 15px;
    }

    .news>div>div .text .con h3,
    .news>div>div .text .con p {
        text-align: center;
    }
}

.news>div>div:not(:last-child) {
    border-bottom: var(--border);
}

.news>div>div img {
    border-radius: 5px;
    margin-right: 15px;
}

@media (min-width: 768px) {
    .news>div>div img {
        width: 100px;
    }
}

.news>div>div .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    text-transform: capitalize;
}

.news>div>div .text>p {
    background-color: #eeeeee;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.news>div>div .text .con h3 {
    padding-bottom: 10px;
}

.news>div>div .text .con p {
    color: var(--p-color);
    font-size: 14px;
}

/* start tasks */
.tasks .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding: 10px 0;
}

.tasks .task:not(:last-child) {
    border-bottom: var(--border);
}

.tasks .task h3 {
    margin-bottom: 10px;
    font-size: 16px;
    width: fit-content;
}

.tasks .task p {
    color: var(--p-color);
    font-size: 15px;
    width: fit-content;
}

.tasks .task:nth-last-child(2) h3 {
    color: var(--p-color);
}

.tasks .task:nth-last-child(2) p {
    color: rgb(220, 220, 220);
}

.tasks .task:nth-last-child(2) i {
    color: rgb(220, 220, 220);
}

/* start uploads */
.uploads .file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;

}

@media (max-width: 500px) {
    .uploads .file {
        flex-direction: column;
    }

    .uploads .file>p {
        margin-top: 10px;
    }
}

.uploads .file:not(:last-child) {
    border-bottom: var(--border);
}

.uploads .file .con {
    display: flex;
    flex: 1;
}

.uploads .file .con img {
    width: 40px;
    margin-right: 10px;
}

.uploads .file .con p:nth-child(1) {
    font-size: 15px;
    font-weight: 500;
    padding-bottom: 10px;
}

.uploads .file .con p:nth-child(2) {
    color: var(--p-color);
    font-size: 14px;
    text-transform: capitalize;
}

.uploads .file>p {
    background-color: var(--background-color);
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

/* start items */
.items>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
    padding: 15px 0;
}

.items>.item p {
    color: var(--p-color);
    font-weight: 600;
}

.items>div p:nth-child(1) {
    font-weight: 600;
}

.items>div:not(.item) p:nth-child(2) {
    font-size: 13px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #eeeeee;
}

/* start last project */
.last-pr .list {
    position: relative;
    margin-top: 20px;
}

.last-pr .list::after {
    content: "";
    position: absolute;
    height: 90%;
    width: 2px;
    left: 11px;
    bottom: 29px;
    background-color: var(--blue-color);
    z-index: 1;
}

.last-pr .list p {
    margin-left: 40px;
    text-transform: capitalize;
    padding-left: 10px;
    font-weight: 600;
    position: relative;
}

.last-pr .list p:not(:last-child) {
    padding: 0 10px 40px;
}

.last-pr .list p::after {
    content: "";
    border: solid 2px var(--blue-color);
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    top: -7.5px;
    left: -45px;
    background-color: white;
    z-index: 2;
}

.last-pr .list p:not(:last-child)::before {
    content: "";
    background-color: var(--blue-color);
    width: 26px;
    height: 26px;
    border-radius: 50%;
    border: white 2px solid;
    position: absolute;
    z-index: 3;
    top: -5.5px;
    left: -43px;
}

.last-pr .list p:nth-last-child(2)::before {
    animation: state 2s infinite;
}

@keyframes state {
    50% {
        background-color: white;
    }
}

/* start reminders */
.reminders>div {
    margin-top: 20px;
}

.reminders>div>div {
    margin-bottom: 20px;
    position: relative;
    margin-left: 25px;
    padding-left: 15px;
}

.reminders>div>div::after {
    content: "";
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    top: 50%;
    transform: translateY(-50%);
    left: -25px;
}

.reminders>div>div:nth-child(1) {
    border-left: solid 2.5px var(--blue-color);
}

.reminders>div>div:nth-child(2) {
    border-left: solid 2.5px var(--green-color);
}

.reminders>div>div:nth-child(3) {
    border-left: solid 2.5px var(--orange-color);
}

.reminders>div>div:nth-child(4) {
    border-left: solid 2.5px var(--red-color);
}

.reminders>div>div:nth-child(1):after {
    background-color: var(--blue-color);
}

.reminders>div>div:nth-child(2):after {
    background-color: var(--green-color);
}

.reminders>div>div:nth-child(3):after {
    background-color: var(--orange-color);
}

.reminders>div>div:nth-child(4):after {
    background-color: var(--red-color);
}

.reminders>div>div p:nth-child(1) {
    text-transform: capitalize;
    font-size: 17px;
    padding-bottom: 10px;
    font-weight: 600;
}

.reminders>div>div p:nth-child(2) {
    color: var(--p-color);
    font-size: 13px;
}

/* start post */
.post .profile {
    display: flex;
    padding: 20px 0;
}

.post .profile img {
    width: 70px;
    margin-right: 10px;
}

.post .profile .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    text-transform: capitalize;
}

.post .profile .text p:nth-child(1) {
    font-weight: 700;
}

.post .profile .text p:nth-child(2) {
    color: var(--p-color);
    font-weight: 600;
}

.post>p {
    color: inherit;
    text-align: center;
    padding: 20px 0;
    line-height: 1.6;
    border-top: var(--border);
    border-bottom: var(--border);
}

.post .likes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--p-color);
    padding: 10px 0 0;
}

/* start media */
.social>div {
    display: flex;
    margin: 10px 0;
}

.social>div i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    font-size: 35px;
    color: white;
    transition: var(--main-transition);
}

.social>div i:hover {
    transform: rotate(5deg);
}

.social>div .text {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 10px;
    text-transform: capitalize;
}
@media (max-width: 450px) {
    .social>div .text {
    font-size: 13px;
    }
}

.social>div .text p:nth-child(1) {
    font-weight: 600;
}

.social>div .text p:nth-child(2) {
    width: fit-content;
    font-size: 12px;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
}

.social>.twitter {
    background-color: rgba(29, 161, 242, 0.2);
    color: rgb(29, 161, 242);
}

.social>.twitter i {
    background-color: rgb(29, 161, 242);
}

.social>.twitter .text p:nth-child(2) {
    background-color: rgb(29, 161, 242);
}

.social>.facebook {
    background-color: rgb(24, 119, 242, 0.2);
    color: rgb(24, 119, 242);
}

.social>.facebook i {
    background-color: rgb(24, 119, 242);
}

.social>.facebook .text p:nth-child(2) {
    background-color: rgb(24, 119, 242);
}

.social>.youtube {
    background-color: rgb(255, 0, 0, 0.2);
    color: rgb(255, 0, 0);
}

.social>.youtube i {
    background-color: rgb(255, 0, 0);
}

.social>.youtube .text p:nth-child(2) {
    background-color: rgb(255, 0, 0);
}

.social>.linkedin {
    background-color: rgb(0, 119, 181, 0.2);
    color: rgb(0, 119, 181);
}

.social>.linkedin i {
    background-color: rgb(0, 119, 181);
}

.social>.linkedin .text p:nth-child(2) {
    background-color: rgb(0, 119, 181);
}

/* start table */
.table {

    margin-top: 20px;
}

.table-containor {
    margin-top: 10px;
    overflow-x: scroll;
    width: 100%;
}

table {
    text-transform: capitalize;
    border-collapse: collapse;
    width: 100%;
}

@media (max-width: 1200px) {
    table {
        width: 1000px;
    }
}

table thead {
    background-color: #eeeeee;
}

table td {
    padding: 20px 15px;
    font-size: 15px;
}

table thead td {
    font-weight: 700;
    border: none;
}

table tbody td {
    border: var(--border);
    position: relative;
}

table tbody td img {
    width: 32px;
    border-radius: 50%;
    border: white 2px solid;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

table tbody td img:nth-child(1) {
    left: 10px;
}

table tbody td img:nth-child(2) {
    left: 25px;
}

table tbody td img:nth-child(3) {
    left: 40px;
}

table tbody td img:nth-child(4) {
    left: 55px;
}

table tbody td img:hover {
    z-index: 2;
}

table tbody tr td p {
    font-size: 13px;
    padding: 5px 10px;
    color: white;
    width: fit-content;
    border-radius: 5px;
}

table tbody tr:nth-child(1) td p {
    background-color: var(--orange-color);
}

table tbody tr:nth-child(2) td p {
    background-color: var(--blue-color);
}

table tbody tr:nth-child(3) td p,
table tbody tr:nth-child(4) td p,
table tbody tr:nth-child(6) td p {
    background-color: var(--green-color);
}

table tbody tr:nth-child(5) td p {
    background-color: var(--red-color);
}