:root {
    --p-color: rgb(125, 125, 125);
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --border: solid rgb(221, 221, 221) 1px;
    --main-transition: 0.3s;
}

.files-containor {
    display: flex;
    gap: 20px;
}

@media (max-width: 767px) {
    .files-containor {
        flex-direction: column-reverse;
    }
}

.files {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    flex: 1;
}

article {
    background-color: white;
    position: relative;
}

.files article i {
    position: absolute;
    top: 10px;
    left: 10px;
    color: var(--p-color);
    transition: var(--main-transition);
    cursor: pointer;
}

.files article i:hover {
    transform: scale(1.3);
}

.files article .file {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px;
}

.files article .file img {
    width: 70px;
    transition: var(--main-transition);
}

.files article:hover .file img {
    transform: rotate(10deg);
}

.files article .file p {
    font-weight: 600;
    padding-top: 10px;
}

.files article>p {
    color: var(--p-color);
    text-transform: capitalize;
    font-size: 14px;
    padding: 10px 0 20px;
    border-bottom: var(--border);
}

.files article .size {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: var(--p-color);
    padding: 10px 0 0;
}

@media (min-width: 768px) {

    .statistics {
        min-width: 260px;
    }
}

.statistics h2 {
    text-transform: capitalize;
}

.statistics article .storage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: var(--border);
    margin: 10px 0;
}

.statistics article .storage .files-num {
    flex-basis: 70%;
    display: flex;
}

.statistics article i {
    font-size: 13px;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.statistics article .pdf i {
    color: var(--blue-color);
    background-color: rgb(0 117 255 / 20%);
}

.statistics article .images i {
    color: var(--green-color);
    background-color: rgb(34 197 94 / 20%);
}

.statistics article .word i {
    color: var(--red-color);
    background-color: rgb(244 67 54 / 20%);
}

.statistics article .csv i {
    color: var(--orange-color);
    background-color: rgb(245 158 11 / 20%);
}

.statistics article .storage>p {
    color: var(--p-color);
    font-size: 14px;
}

.statistics article .text {
    font-size: 14px;
    width: fit-content;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding-left: 10px;
}

.statistics article .text p {
    width: fit-content;
    font-size: 13px;
}

.statistics article .text p:first-child {
    font-weight: 600;
}

.statistics article .text p:nth-child(2) {
    color: var(--p-color);
    text-transform: capitalize;
}

.statistics article .upload {
    margin: auto;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: var(--blue-color);
    color: white;
    border-radius: 10px;
    font-size: 14px;
    font-family: 500;
    cursor: pointer;
    transition: var(--main-transition);
}

.statistics article .upload:hover {
    background-color: var(--blue-alt-color);
}

.statistics article .upload p {
    padding-left: 10px;
    text-transform: capitalize;
}

.statistics article .upload i {
    padding: 0;
}

.statistics article .upload:hover i {
    animation: upload 0.7s infinite;
}

@keyframes upload {
    50% {
        transform: translateY(-5px);
    }

    100% {
        transform: translateY(0px);
    }
}