:root {
    --p-color: rgb(125, 125, 125);
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
    --border: solid rgb(221, 221, 221) 1px;
}

article {
    background-color: white;
    padding: 20px 20px 0;
    position: relative;
}

article>i:first-child {
    left: 10px;
    position: absolute;
    border-radius: 50%;
    background-color: #e3e3e3;
    top: 10px;
    width: 30px;
    height: 30px;
    font-weight: 900;
    font-size: 15px;
    z-index: 2;
    color: rgb(125, 125, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

article>i:nth-child(2) {
    left: 50px;
    position: absolute;
    border-radius: 50%;
    background-color: #e3e3e3;
    top: 10px;
    width: 30px;
    height: 30px;
    font-weight: 900;
    font-size: 15px;
    z-index: 2;
    color: rgb(125, 125, 125);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

@media (max-width: 450px) {
    article>i:nth-child(2) {
        top: 50px;
        left: 10px;
    }
}

article>i:hover {
    color: white;
    background-color: var(--blue-color);
}

article .photo-and-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: solid rgb(221, 221, 221) 1px;
    padding-bottom: 10px;
}

article .photo-and-name img {
    border-radius: 50%;
    width: 100px;
}

article .photo-and-name h4 {
    text-transform: capitalize;
    padding: 15px 0 5px;
}

article p {
    text-transform: capitalize;
    color: var(--p-color);
    font-size: 13px;
}

article .info {
    padding: 15px 0;
    border-bottom: solid rgb(221, 221, 221) 1px;
}

article .info div {
    font-size: 14px;
    text-transform: capitalize;
}

.vip .info {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.vip .info h1 {
    margin: 0;
    text-transform: uppercase;
    opacity: 0.3;
    color: var(--orange-color);
}

article .info div:not(:last-child) {
    margin-bottom: 10px;
}

article .joining {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

@media (max-width: 450px) {
    article .joining {
        flex-direction: column;
        height: 100px;
    }

    .vip .info h1 {
        font-size: 30px;
    }
}

article .joining .bottoms p {
    display: inline;
    margin-left: 5px;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 10px;
    cursor: pointer;
}

article .joining .bottoms p:first-child {
    background-color: var(--blue-color);
}

article .joining .bottoms p:last-child {
    background-color: var(--red-color);
}